<link rel="stylesheet" type="text/css" href="../../Libs/dialog-polyfill/dialog-polyfill.css">
<link rel="stylesheet" type="text/css" href="../../styles/buttons.css">
<link rel="stylesheet" type="text/css" href="../../styles/tooltips.css">
<link rel="stylesheet" type="text/css" href="dataGen.css">

<script src="../../Libs/dialog-polyfill/dialog-polyfill.js"></script>
<script src="../../Libs/flot/jquery.js"></script>
<script src="../../Libs/flot/jquery.flot.js"></script>
<script src="../../Libs/flot/jquery.flot.symbol.js"></script>
<script src="../../Libs/mathjs/math.js"></script>
<script src="../../Libs/d3js/d3-3.5.16/d3.js"></script>
<script src="../../vmljs/Utils/utils.js"></script>
<script src="../../vmljs/Utils/fileHelper.js"></script>
<script src="../../vmljs/Utils/matFileHelper.js"></script>
<script src="../../vmljs/Utils/jsonHelper.js"></script>
<script src="../../vmljs/Utils/csvHelper.js"></script>
<script src="../../vmljs/Utils/octaveFileHelper.js"></script>
<script src="dataGen.js"></script>
<script src="../../Libs/base64-arraybuffer-0.1.5/lib/base64-arraybuffer.js"></script>

<div id="dataGen">
  <div id="plotArea" class="boxAlign"></div>
  
  <div class="boxAlign">
    <div class="groupBox">
      <div id="actions">
        <b>Actions:</b><br>
	    <button id="undoBtn" class="button">Undo</button>
        <button id="resetBtn" class="button">Reset</button>
        <button id="scaleBtn" class="button">Scale</button><br>
        <div id="exportBtn" class="dropdown dropDownBtn">Export
         <div class="dropdown-content">
           <button id="btnExportToJSON" class="button">JSON</button>
           <button id="btnExportToCSV" class="button">CSV</button>
           <button id="btnExportToMAT" class="button">Matlab</button>
           <button id="btnExportToOctave" class="button">Octave</button>
         </div>
        </div>
        <div id="importBtn" class="dropdown dropDownBtn">Import
         <div class="dropdown-content">
           <button id="btnImportFromJSON" class="button">JSON</button>
           <button id="btnImportFromCSV" class="button">CSV</button>
           <button id="btnImportFromMAT" class="button" onclick="document.getElementById('ctrlImportFromMAT').click();">Matlab</button>
           <button id="btnImportFromOctave" class="button" onclick="document.getElementById('ctrlImportFromOctave').click();">Octave</button>
         </div>
        </div>
        <input id="ctrlImportFromMAT" type="file" name="file" style="visibility:hidden;width:1em;"/>
        <input id="ctrlImportFromOctave" type="file" name="file" style="visibility:hidden;width:1em;"/>
      </div> 
      <br>
      <div id="dataGenType">
        <div class="tooltip"><b>Click type:</b>
        <span class="tooltiptext">Specify what type of point a click in the plot will generate</span>
        </div><br>
        <input type="radio" name="dataClass" id="genClassA" checked>Class A</input><br>
        <div id="genClassBGroup"><input type="radio" name="dataClass" id="genClassB">Class B</input></div><br>
      </div>
    </div>
    <br>
    <div id="modelPlaceholder"></div>
  </div>

  <dialog id="exportDlg" class="dialog">
    <center><h3>Export</h3></center>
      <form method="dialog">
        <textarea id="exportData" cols=50 rows=30></textarea><br>
        <a id="exportDownloadBtn" class="dialogBtn downloadBtn" href="">Download</a>
        <button id="exportCloseBtn" class="dialogBtn">Close</button>
      </form>
  </dialog>

  <dialog id="importDlg" class="dialog">
    <center><h3>Import</h3></center>
      <form method="dialog">
        <textarea id="importData" cols=50 rows=30 placeholder="Paste/Type your import here!"></textarea><br>
        <button id="btnUpload" class="dialogBtn" onclick="document.getElementById('importUpload').click();">Upload</button>
        <button id="importDataBtn" class="dialogBtn">Import</button>
        <button id="importCloseBtn" class="dialogBtn">Close</button> 
      </form>
  </dialog>
  <input id="importUpload" type="file" name="file" style="visibility:hidden;width:1em;height:1em;"/>
</div>

<script>
  function importDataGen() {
    // Import/Add
    var oImport = document.currentScript.ownerDocument;

    // Fill model placeholder
    var oModelElem = document.getElementById( 'model' );
    var oElement = oImport.querySelector( '#modelPlaceholder' );
    oElement.appendChild( oModelElem.cloneNode( true ) );    

    oModelElem.parentNode.removeChild( oModelElem );

    // Add import to document
    var oPlaceholder = document.getElementById( 'dataGenPlaceholder' );
    oElement = oImport.querySelector( '#dataGen' );
    oPlaceholder.appendChild( oElement.cloneNode( true ) );

    oElement.parentNode.removeChild( oElement );

    // Init logic
    oDataGen = new vml_DataGen();
    oDataGen.Init();
  };
</script>
